<div ng-controller="manage">
    <div class="selection-wrap  border-rounded">
        <div class="text-center"><a href="#!/{{list}}"><span  class="glyphicon glyphicon-chevron-left float-left margin-big-left"></span></a><span>频道管理</span><div class="clear"></div></div>
    </div>
    <h3 class="margin-big-top text-bold">
        点击删除频道
    </h3>
    <div>
        <button class="btn btn-info btn-lg margin-big" ng-class="{'btn-danger':$index==flag}" ng-repeat="item in list"  ng-click="delete_news($index)">{{item.name}}</button>
    </div>
    <h3 class="margin-big-top text-bold">
        点击添加频道
    </h3>
    <div>
        <button class="btn btn-info btn-lg margin-big" ng-repeat="item in list_two"  ng-click="add_news($index)">{{item.name}}</button>
    </div>
</div>